<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.skhu.e01button">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".signup.SignupActivity">
        </activity>
        <activity android:name=".MemoActivity">
        </activity>
        <activity
                android:name=".button.ButtonActivity"
                android:label="@string/action_buttons"/>
        <activity android:name=".checkbox.CheckboxesActivity">
        </activity>
        <activity
                android:name=".spinner.SpinnersActivity"
                android:label="@string/action_spinners">
        </activity>
        <activity
                android:name=".alert.AlertsActivity"
                android:label="Alerts"/>
        <activity android:name=".firebase.E03Firebase">
        </activity>
        <activity android:name=".listView.E4List">
        </activity>
        <activity android:name=".listView.E4List2">
        </activity>
        <activity android:name=".recyclerView.E05List">
        </activity>
        <activity android:name=".E06List">
        </activity>
    </application>

</manifest>